{% extends "base.html" %} 

{% block main %}

<div class="profile">
    <img class="profile-img" src="{{ url_for('static', filename='css/profile.jpeg') }}" alt="Profile Image">

    <h1 class="profile-name">  {{ name }} </h1>
    
    <p class="profile-username"> @Alxlex </p>
    <p class="profile-location"> Kingston, Jamaica. </p>
    <p class="profile-join"> Joined {{ formatted_date }} </p>
</div>    

<p class="profile-description"> I am a lover of programming, gaming, animation and video editing <br> If you want aid or a collabarator
 in any of those fields let me know. </br> 
</p>

<div class="socials">
    <div class="posts" id="social">
        <h1> 7 </h1>
        <p> Posts </p>
    </div>

    <div class="following" id="social">
        <h1> 100 </h1>
        <p> Following </p>
    </div>

    <div class="followers" id="social">
        <h1> 250</h1>
        <p> Followers </p>
    </div>
</div>

<button class="follow" id="btn"> Follow </button>

{% endblock %}
